@font-face {
    font-family: H2Font;
    src: url("/assets/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FBF3D5;
}

/*MAIN CONTAINER*/
.container {
    display: grid;
    justify-items: center;
}

.desc {
    color: #9CAFAA;
}

.buttonshopnow {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    color: #FBF3D5;
    background-color: #bb835e;
}

.subheader {
    display: grid;
    width: 97%;
    justify-items: flex-end;
    padding-top: 10px;
}

.spaceneeded{
    margin: 20px;
}
/*HEADER ELEMENT STYLING*/
header {
    display: grid;
    width: 80%;
    max-height: 180px;
    background-color: #ffffff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

}
#cart-count {
    position: relative;
    top: -65px;
    right: -25px;
    width: 4px;
    height: 15px;
    background-color: #bb835e;
    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;;
    padding: 5px 10px;
    font-size: 12px;
    display: none; /* Initially hidden */
}
.left-nav {
    display: grid;
    width: 100%;
    grid-area: 1/span 1 /2 /2;
}

.logo {
    margin-top: 10px;
    width: 220px;
    height: 130px;
    justify-self: center;
    padding-top: 10px;
}

.nav {
    display: grid;
    width: 100%;
    grid-area: 1/ 2 / 2 /3;
}

.navlink {
    float: right;
    text-decoration: none;
    color: #000;
    height: 15px;
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: H2Font;
    line-height: 2.5;
    box-shadow: inset 0 0 0 0 #9CAFAA;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.active {
    color: #4c504f;
    text-decoration: underline;
    text-decoration-color: #9CAFAA;
}

.navlink:hover {
    color: #b47a21;
    box-shadow: inset 200px 0 0 0 #9CAFAA;
}

/*FOOTER  ELEMENT STYLING*/
footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #bb835e;
}

/*TABLE STYLING*/
.table1,
.table1 th,
.table1 td {
    border: 1px solid #9CAFAA;
    border-collapse: collapse;
}

.table1 th,
.table1 td {
    padding: 25px;
}

.table2 th,
.table2 td {
    padding: 5px;
}

.table2 {
    width: 30%;

}

.labels {
    color: grey;
}

.buttonremove {
    width: 100px;
    height: 25px;
    margin-top: 20px;
    color: #FBF3D5;
    background-color: #9CAFAA;
}

.cartimage {
    width: 150px;
    height: 150px;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}
/* MEDIA QUERY TO KEEP IT RESPONSIVE FOR SMALLER SCREENS*/
@media screen and (max-width: 540px) {
    .subheader {
        display: none;
    }

    .table-image,
    .remove
     {
        display: none;
    }

    h5,
    .datetime {
        display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 100px;
        right: 75px;
        width: 30%;
        background-color: white;
    }

 
    .menu-icon {
        display: block;
        position: fixed;
        top: 60px;
        right: 75px;
         
    }
    .navlink {
        float: right;
        text-decoration: none;
        color: #000;
        height: 10px;
        font-size: 25px;
        font-family: H2Font;
        line-height: 1.4;
    }
    
    .active {
        color: #4c504f;
        text-decoration: underline;
        text-decoration-color: #9CAFAA;
    }
    
    .navlink:hover {
        color: gray;
        box-shadow: inset 200px 0 0 0 #9CAFAA;
    }
}