@font-face {
    font-family: H2Font;
    src: url("/assets/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FBF3D5;
}

/*MAIN CONTAINER*/
.container {
    display: grid;
    justify-items: center;
}

/*HEADER ELEMENT STYLING*/
header {
    display: grid;
    width: 80%;
    max-height: 180px;
    background-color: #ffffff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

}

#cart-count {
    position: relative;
    top: -65px;
    right: -25px;
    width: 4px;
    height: 15px;
    background-color: #bb835e;
    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    ;
    padding: 5px 10px;
    font-size: 12px;
    display: none;
    /* Initially hidden */
}

.spaceneeded {
    margin: 20px;
}

.left-nav {
    display: grid;
    width: 100%;
    grid-area: 1/span 1 /2 /2;
}

.logo {
    margin-top: 10px;
    width: 220px;
    height: 130px;
    justify-self: center;
    padding-top: 10px;
}

.nav {
    display: grid;
    width: 100%;
    grid-area: 1/ 2 / 2 /3;
}

.navlink {
    float: right;
    text-decoration: none;
    color: #000;
    height: 15px;
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: H2Font;
    line-height: 2.5;
    box-shadow: inset 0 0 0 0 #9CAFAA;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.active {
    color: #4c504f;
    text-decoration: underline;
    text-decoration-color: #9CAFAA;
}

.navlink:hover {
    color: #b47a21;
    box-shadow: inset 200px 0 0 0 #9CAFAA;
}

.subheader {
    display: grid;
    width: 97%;
    justify-items: flex-end;
    padding-top: 10px;
}

.desc {
    color: #9CAFAA;
}

.buttonshopnow {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    color: #FBF3D5;
    background-color: #bb835e;
}

/*LATEST PRODUCT ELEMENT STYLING*/
.product-card-strip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    height: 450px;
    margin-bottom: 10px;
}

.product-card1 {
    display: grid;
    justify-items: center;
    grid-area: 1/1/5/2;
    width: 100%;
    margin: auto;
    background-color: #9CAFAA;
    height: 450px;
    border: 1px solid grey;
}

.product-card2 {
    display: grid;
    justify-items: center;
    grid-area: 1/2/5/3;
    width: 100%;
    margin: auto;
    background-color: #9CAFAA;
    height: 450px;
    border: 1px solid grey;
}

.product-card3 {
    display: grid;
    justify-items: center;
    grid-area: 1/3/5/4;
    width: 100%;
    margin: auto;
    background-color: #9CAFAA;
    height: 450px;
    border: 1px solid grey;
}

.product-card1 h2,
.product-card2 h2,
.product-card3 h2 {
    color: #FBF3D5;
    font-family: H2Font;
}

.product-image {
    width: 200px;
    height: 320px;
    margin-top: 30px;
    border: 3px solid black;
}

.buttoncart {
    width: 100px;
    height: 25px;
    color: #ffbd59;
    background-color: #ffffff;
}

.Hoverbutton {
    width: 300px;
    height: 25px;
    color: #FBF3D5;
    background-color: #9CAFAA;

}

.Hoverbutton1 {
    width: 300px;
    height: 25px;
    color: #FBF3D5;
    background-color: #9CAFAA;

}

/*FEATURED PRODUCT ELEMENT STYLING*/
.featured-product {
    display: grid;
    width: 80%;
    height: auto;
    background-color: #ffffff;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;

}

.featured-product h2 {
    color: #000;
}

.featured-product-image {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
    border: 3px solid black;
}

.details {
    padding-left: 10px;
    padding-top: 20px;
    display: grid;
    width: 100%;
    grid-area: 1/ 2 / 2 /3;

}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/*FOOTER  ELEMENT STYLING*/
footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #bb835e;
}

/* MEDIA QUERY TO KEEP IT RESPONSIVE FOR SMALLER SCREENS*/
@media screen and (max-width: 540px) {

    .subheader {
        display: none;
    }

    .product-card-strip {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    #featuredh2 {
        display: none;

    }

    .featured-product {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        position: relative;
        top: 880px;
        ;
    }

    footer {
        position: relative;
        top: 900px;
    }

    .info-container {
        display: none;
    }

    h5,
    .datetime {
        display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 100px;
        right: 75px;
        width: 30%;
        background-color: white;
    }

 
    .menu-icon {
        display: block;
        position: fixed;
        top: 60px;
        right: 75px;
         
    }
    .navlink {
        float: right;
        text-decoration: none;
        color: #000;
        height: 10px;
        font-size: 25px;
        font-family: H2Font;
        line-height: 1.4;
    }
    
    .active {
        color: #4c504f;
        text-decoration: underline;
        text-decoration-color: #9CAFAA;
    }
    
    .navlink:hover {
        color: gray;
        box-shadow: inset 200px 0 0 0 #9CAFAA;
    }
}